annotated-types==0.7.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
bitarray==3.4.2
cffi==1.17.1
cryptography==45.0.3
Cython==3.1.2
cytoolz==1.0.1
eth-hash==0.7.1
eth-typing==5.2.1
eth-utils==5.3.0
fnv==0.2.0
liboqs-python==0.14.1
numpy==2.2.6
packaging==25.0
py-ecc==8.0.0
pybloom-live==4.0.0
pycparser==2.22
pycryptodome==3.23.0
pydantic==2.11.7
pydantic_core==2.33.2
python-snarks==0.0.3
scapy==2.6.1
toolz==1.0.0
typing==3.5.2.2
typing-inspection==0.4.1
typing_extensions==4.14.0
wasmer==1.1.0
wasmer_compiler_cranelift==1.1.0
xxhash==3.5.0
